body {
	background-color:#ccc;
	font-family:Century Gothic, Arial;
	margin:0px;
}


#top-background {
	width:100%;
/* 	background-color:#fff; */
	box-shadow:0px 0px 20px #888;
	position:relative;
/* 	background-color:#333; */
	z-index:2;
	height:200px;
	background: #919191; /* Old browsers */
	background: -moz-linear-gradient(top,  #919191 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919191), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #919191 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #919191 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #919191 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #919191 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

#top-content {
	width:1200px;
	color:#fff;
	text-shadow:0px 1.5px 0px #000;
	margin:0 auto 0 auto;
	padding:15px;
}

#top-content h1 {
	text-shadow:1px 2px 0px #333;	
}

#wrapper {
	width:1200px;
	margin:0 auto 0 auto;
	background-color:#fff;
	padding:15px;
	box-shadow:0px 0px 20px #888;
	overflow:auto;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 20%, #f2f2f2 79%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(79%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 20%,#f2f2f2 79%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 20%,#f2f2f2 79%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 20%,#f2f2f2 79%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 20%,#f2f2f2 79%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	margin-bottom:100px;
}

header h1 {
	font-size:40pt;
}
/* NAV MENU*/

nav {
	position:relative;
	top:-65px;
}

ul {
	margin:0px;
	padding:0px;
	
}
.mainmenu li {
	float:right;
	
}
.mainmenu #first-child a{
	padding-left:0px;
}
.mainmenu li a{
	padding: 5px 30px 5px 30px;
	text-decoration:none;
	color:#fff;
	font-size:20pt;
	font-weight:bold;
	
}
.mainmenu li:hover .submenu{
	display:block;
	list-style:none;
}
.submenu {
	display:none;
}
.submenu li {
	float:none;
}
.submenu li a {
	font-size:16pt;
	margin:26px;
	padding:4px;
	margin-right:18px;
}

/* CONTENT */
input[type="submit"],input[type="button"]{
-webkit-appearance:none;
margin:6px;
padding:10px;
font-size:medium;
font-family:Century Gothic, Arial;
font-weight:bold;
border-width:0px;
text-shadow:0px 1.5px 0px #000;
/*Background Gradient*/
background: #6d6d6d; /* Old browsers */
background: -moz-linear-gradient(top, #6d6d6d 0%, #3d3d3d 39%, #262626 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(39%,#3d3d3d), color-stop(100%,#262626)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #6d6d6d 0%,#3d3d3d 39%,#262626 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #6d6d6d 0%,#3d3d3d 39%,#262626 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #6d6d6d 0%,#3d3d3d 39%,#262626 100%); /* IE10+ */
background: linear-gradient(to bottom, #6d6d6d 0%,#3d3d3d 39%,#262626 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
color:#fff;
}

input[type="submit"]:HOVER ,input[type="button"]:HOVER{
text-shadow:0px 1.5px 0px #fff;
/*Background Gradient*/
background: #9b9b9b; /* Old browsers */
background: -moz-linear-gradient(top, #9b9b9b 0%, #c4c4c4 45%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(45%,#c4c4c4), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9b9b9b 0%,#c4c4c4 45%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9b9b9b 0%,#c4c4c4 45%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9b9b9b 0%,#c4c4c4 45%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom, #9b9b9b 0%,#c4c4c4 45%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
color:#000;
}

h2 {
	font-size:24pt;
}

#post-box {
/* 	border:1px solid #ddd; */
	border-radius:10px;
	padding:0px;
	box-shadow:0px 3px 15px #bbb;
}

#post-box h3 {
	margin:0px;
	padding:0px;
	display:block;
	background: #919191; /* Old browsers */
	background: -moz-linear-gradient(top,  #919191 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919191), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #919191 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #919191 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #919191 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #919191 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	padding:15px;
	color:#fff;
	text-shadow:0px 1.5px 0px #000;
}

	#post-box p {
		padding:15px;
		margin:0px;
	}

#post1-date {
	float:right;
	color:#fff;
	position:relative;
	top:-52px;
	left:-15px;
	font-style:italic; 
}

table {
border:1px solid #555;
border-radius:10px;
padding:10px;
}

/* Footer */
footer {
	margin-top:45px;
	width:100%;
	background: #919191; /* Old browsers */
	background: -moz-linear-gradient(top,  #919191 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919191), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #919191 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #919191 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #919191 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #919191 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
/* 	position:fixed; */
/* 	bottom:0px; */
}

footer p {
	margin:0px;
	padding:15px;
	color:#fff;
	text-shadow:0px 1px 0px #000;
	/* 	box-shadow:0px 0px 10px #666; */
	text-align:center;
}

